<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>022B4B8D00D48EC61E83040B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03440029A9A98E8798D29F47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C140DBA0877992AF763BF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>063C7FC9CEF23282400CDA3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>078F39377CBFE24A61FFAAFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>089AE848D4E021877995A9A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16B6A37C9712BCE58030828C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>179052B735E2A4904F5DE882</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E172397B318538AD32BDF91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F970ED8EC1187A84215F7CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24E70FF8F24C0EDE57AA0179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BB90030A6B3E945754B9A99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F820BA1B5797C0DAC20F2DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>313A1B581A50AB28D2E7064F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>313B52021AA667834F7A55BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>339CDE290140570E06687CD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37688A787746A47A418DBC5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3895A073039DE61712A65E69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EC2E17F8EB16C0F2AE0B6F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F1687D2E9C742A614043792</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F313C3A6F78A0B93BFD7411</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50410146393E008116E6345B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>509E5E20E998217D38936CE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>510CF9581525244F2EE877AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>544415C2C68BD87B7E712632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54CB68AF759F3342F0D86799</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5936561E0A0EFEA0971145A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F20249DA9EDD008804C4600</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F36F6A37EAFFFCAE4991E5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F78A0A3A5A4635B6AFB5750</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62B89DBE64493280A1A98EB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CC60E30A1695A9E214F15D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F0C6C3BB5DE1345F4259547</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>720EE1BED31E5CBBF556DA44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7269208BBA7AFB95856B8D4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EB9A62ABB0120699545E8FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F21F9768C07E433064A1D3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81729D5DF4785E2D12C0164F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>840B560837D7EAA0DAA7C80A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>859533589AF4ECB426074020</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8689C087C6CC287750C93FEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D01D1B6BDF595B14B9909C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E963538CD385D3493C3CF8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D7E3CD4979364DB6979952</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94409717DEE3AE23D78B3A06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98DACFF1A4E8749DD2617D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AC328CA50783864DA7E298D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AF4A74672CCE0852CC3C7EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BA7297FBF46D6C0AC3D0B7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BD8C7F7E32D5287BDCF672B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F0293F6E6AB08C40181FE12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A31ADC32CD08A8BB8258ED05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A35B17F1573DF42A638548E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4EEDEB3CF8820228DD9E222</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A68DB09936C943007857ED7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAEDCA3659C017B221EAA3CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF50711675B3DCBFFA8E014F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1926403C7A3142227C3799F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3513C12AF17A10247B97FFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B46B7B10E69747EAD2B8CC32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B794B603046B20B10CE85F5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAF179F5B708AA589D569C30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC6CF2F6BCAD22A2C9CEA3AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1CAAEB8685CB7E7624EE761</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C365B851B4871A7418997894</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4B41CAA9BC5FFB0E6CD39DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C524EDFCEF3CA99E51E6CF95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCF562B613D48C50D1EF77D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF0B4DF88340C1D8CF96CF8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFA5300BB128FD73E46CBF50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D235BF2512BC0C636C4337BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D27D31E2E2FF213F41106E95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D90C3BD8F9D004011FEAE37F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9FEF0F3FAD4CBEE4FF7235B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC3B7338125AA18306CEF626</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E12B6C3BF03A44672F5C78B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E171D32CA6E198665B655D30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E35F2F56E874629BD243C731</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA659DB8F35118C6124FFA40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB55CB109A4AC2F7C7684365</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F002F68023A8272501993025</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0077DEEF382B14E49437858</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F99CA228F1B9511A9417CBDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDAC79F6470CC592A736F8D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
